<!DOCTYPE html>
<html lang="en">
<div class="row text-center" style="padding: 0; margin-top: -10px; margin-bottom: 70px;"
     xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <ul id="functionList" class="list-unstyled list-inline">
         <c:choose>
            <c:when test="${functionType == 'keganzhixingStudyList' || functionType == 'kecaozuoxingStudyList' ||
            functionType == 'kelijiexingStudyList' || functionType == 'jianrongxingStudyList'}">
                <li>
                    <a href="${AppContext}study/keganzhixing"
                        <c:if test="${functionType == 'keganzhixingStudyList'}">
                            class="text-muted"
                        </c:if>
                    >学习可感知性</a>
                </li>
                <li>|</li>
                <li>
                    <a href="${AppContext}study/kecaozuoxing"
                            <c:if test="${functionType == 'kecaozuoxingStudyList'}">
                                class="text-muted"
                            </c:if>
                    >学习可操作性</a>
                </li>
                <li>|</li>
                <li>
                    <a href="${AppContext}study/kelijiexing"
                            <c:if test="${functionType == 'kelijiexingStudyList'}">
                                class="text-muted"
                            </c:if>
                    >学习可理解性</a>
                </li>
                <li>|</li>
                <li>
                    <a href="${AppContext}study/jianrongxing"
                            <c:if test="${functionType == 'jianrongxingStudyList'}">
                                class="text-muted"
                            </c:if>
                    >学习兼容性</a>
                </li>
            </c:when>
            <c:when test="${currentUserRole == 'VOLUNTEER'}">
            </c:when>
            <c:when test="${currentUserRole == 'SENIOR_VOL'}">
            </c:when>
            <c:when test="${currentUserRole == 'BLIND_ADMIN'}">
            </c:when>
            <c:otherwise>
                <c:if test="${fn:contains(currentUserRole, 'VOLUNTEER')}">
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'normalCheckList'}">
                                <span class="text-muted" id="normalCheckList">网页检测</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}manual_task/list" id="normalCheckList">网页检测</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                </c:if>
                <c:if test="${fn:contains(currentUserRole, 'SENIOR_VOL')}">
                    <c:if test="${fn:contains(currentUserRole, 'VOLUNTEER')}">
                        <li>|</li>
                    </c:if>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'conflictCheckList'}">
                                <span class="text-muted" id="conflictCheckList">冲突网页检测</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}manual_task/conflict/list" id="conflictCheckList">冲突网页检测</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                </c:if>
                <%--<c:if test="${currentUserRole == 'ADMIN' || currentUserRole == 'SUPER_ADMIN'}">--%>
                <c:if test="${fn:contains(currentUserRole, 'ADMINISTRATOR')}">
                    <c:if test="${fn:contains(currentUserRole, 'SENIOR_VOL') || fn:contains(currentUserRole, 'VOLUNTEER')}">
                        <li>|</li>
                    </c:if>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'hostList' || functionType == 'hostDetail' || functionType == 'crawl'}">
                                <span class="text-muted" id="hostList">查看所有检测网站</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}host/list" id="hostList">查看所有检测网站</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'hostAdd'}">
                                <span class="text-muted" id="hostAdd">添加检测网站</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}host" id="hostAdd">添加检测网站</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <%--<li>|</li>--%>
                    <%--<li>--%>
                        <%--<c:choose>--%>
                            <%--<c:when test="${functionType == 'reportList'}">--%>
                                <%--<span class="text-muted" id="reportList">查看检测报表</span>--%>
                            <%--</c:when>--%>
                            <%--<c:otherwise>--%>
                                <%--<a href="javascript:void(0)" id="reportList">查看检测报表</a>--%>
                            <%--</c:otherwise>--%>
                        <%--</c:choose>--%>
                    <%--</li>--%>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'volunteerList'}">
                                <span class="text-muted" id="volunteerList">查看志愿者信息</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}user/volunteer/list" id="volunteerList">查看志愿者信息</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'ruleCountdown'}">
                                <%--  countdown --%>
                                <span class="text-muted" id="ruleCountdown">规则倒计时</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}config/countdown" id="ruleCountdown">规则倒计时</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'ruleWeight'}">
                                <%--  countdown --%>
                                <span class="text-muted" id="ruleWeight">规则权重</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}config/weight" id="ruleWeight">规则权重</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                </c:if>
                <c:if test="${fn:contains(currentUserRole, 'BLIND_ADMIN')}">
                    <c:if test="${fn:contains(currentUserRole, 'ADMINISTRATOR') || fn:contains(currentUserRole, 'SENIOR_VOL') || fn:contains(currentUserRole, 'VOLUNTEER')}">
                        <li>|</li>
                    </c:if>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'blindAdd'}">
                                <span class="text-muted" id="blindAdd">添加盲人志愿者</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}user/blind/add" id="blindAdd">添加盲人志愿者</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                </c:if>
                <c:if test="${fn:contains(currentUserRole, 'SUPER_ADMIN')}">
                    <c:if test="${fn:contains(currentUserRole, 'ADMINISTRATOR') || fn:contains(currentUserRole, 'SENIOR_VOL')
                    || fn:contains(currentUserRole, 'VOLUNTEER')  || fn:contains(currentUserRole, 'BLIND_ADMIN')}">
                        <li>|</li>
                    </c:if>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'adminList'}">
                                <span class="text-muted" id="adminList">查看管理员信息</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}user/admin/list" id="adminList">查看管理员信息</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'adminAdd'}">
                                <span class="text-muted" id="adminAdd">添加管理员</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}user/admin" id="adminAdd">添加管理员</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                    <li>|</li>
                    <li>
                        <c:choose>
                            <c:when test="${functionType == 'salary'}">
                                <span class="text-muted" id="salary">工资</span>
                            </c:when>
                            <c:otherwise>
                                <a href="${AppContext}salary/list" id="salary">工资</a>
                            </c:otherwise>
                        </c:choose>
                    </li>
                </c:if>
            </c:otherwise>
        </c:choose>
    </ul>
</div>