<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>网站无障碍检测能力水平测试</title>
     {% include "common/head.html"%}
    <style type="text/css">
        /*change the default*/
        .navbar {
            margin-bottom: 0;
        }

        iframe {
            display: block; /* iframes are inline by default */
            border: none; /* Reset default border */
            height: 100vh; /* Viewport-relative units */
            width: 100vw;
            /*background:transparent;*/
            /*考虑到响应式，标题栏的高度应该是变化的，不展开时是64px*/
            padding: 0 0 64px 0 !important;
        }

        .form-group {
            margin-top: 0;
            padding-bottom: 0;
        }

        .form-control, .radio label {
            font-size: 14px !important;
        }

    </style>
</head>

<body style="margin:0;padding:0;overflow:hidden;">
{% include "common/navbar.html"%}

<div style="position: relative">
    <iframe style="position: absolute;left: 0;top: 0;" class="col-md-8 col-xs-7" id="loadingIframe" src="{% url 'learningsystem:loading_iframe' %}"></iframe>
    <iframe id='pageiframe' sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock" style="position: absolute;left: 0;top: 0;" src="{{ page.url }}" class="col-md-8 col-xs-7" onload="mainIframeLoaded()">
        您的浏览器不支持iframe，请更新您的浏览器（推荐使用chrome浏览器）
    </iframe>
</div>

<div class="col-md-4 col-xs-5" style="overflow: auto; position: absolute; right: 0; top: 64px; bottom: 10px;">
   <div style="margin-top: 20px;" class="text-center">
        <a href="{{ page.url }}" target="_blank">
            <h4>
             【{{question.questionNumber}}/{{examination.questionNum}}】
                {% if page.title %}
                    {{ page.title }}
                {% else %}
                    该网页没有标题
                {% endif %}
            </h4>
        </a>
        <p><span id="countdown">00:00:00</span></p>
    </div>
    <hr style="background: #777; opacity:0.2;">
    <div style="display: inline-block">
        <div id='item' style="width: 40%;float: left;">
            <ul class="nav nav-pills nav-stacked text-left" style="background: #cddfe8" >
                <li class="active text-primary text-center" ><strong>规则条目</strong></li>
                <hr style="background: #777; opacity:0.2;">
                 {% for r in rule_list %}
                     <li><a href="" onclick ="changeFrom({{r.rule_id}});return false" id="change{{ r.rule_id }}" >{{ r.title}}<i class="mdui-icon material-icons"  style="float: right ">&#xe5cc;</i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div id='record' style="width: 55%;float: right;" >
            <div>
                <input type="hidden" id="ruleid"  value="{{rule.rule_id}}" />
                <span class="text-primary">检测规则</span>
                <div  id="showRuleSpecific" class="togglebutton pull-right" style="display:inline-block;">
                    <label><input type="checkbox"></label>
                </div>
                <p style="margin-top: 5px;" class="text-muted" id="title">{{ rule.title }}</p>
            </div>
            <div id="ruleSpecific" hidden>
                <div>
                    <span class="text-primary">规则描述</span>
                    <p style="margin-top: 5px;" class="text-muted" id="description">{{rule.description}}</p>
                </div>
                <div style="margin-top: 10px;">
                    <span class="text-primary">检测方法</span>
                    <p style="margin-top: 5px;" class="text-muted" id="checkMethod">{{rule.check_method}}</p>
                </div>
                <div style="margin-top: 10px;">
                    <span class="text-primary">通过条件</span>
                    <p style="margin-top: 5px;" class="text-muted" id="passCondition">{{rule.pass_condition}}</p>
                </div>
            </div>
            <hr style="background: #777; opacity:0.2;">
            <form role="form" style="margin-bottom: 10px;">
                <fieldset>
                    <div class="form-group" style="margin-top: 0;" id="checkResult">
                        <p class="control-label  text-primary">检测结果</p>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio" name="radioCheckResult" value="1">通过</label>
                        </div>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio"  name="radioCheckResult" value="0" checked>不通过</label>
                        </div>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio"  name="radioCheckResult" value="2" >不存在</label>
                        </div>
                    </div>
                    <div id="checkReason" style="margin-bottom:5px;" >
                        <div class="form-group" >
                            <label for="freqAns" class="control-label">常见原因示例</label>
                             <div>
                                <select id="freqAns" class="form-control" >
                                  <option>亲自写(自带清空技能)</option>
                                  <option>ddddddd</option>
                                   {% if rule.freqAns %}
        {#                                <c:set var="optionsFreqAns" value="{{fn.split({{rule.freqAns}}, '#F#G#F#')}}" />#}
        {#                                <c:forEach var="optionFreqAns" items="{{optionsFreqAns}}">#}
        {#                                    <option>{{optionFreqAns}}</option>#}
        {#                                </c:forEach>#}
                                   {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="formFailAns">
                            <label for="reason" class="control-label">通过/不通过原因</label>
                            <textarea class="form-control " rows="3" id="reason"></textarea>
                        </div>
                         <span class="help-block">请务必给出通过/不通过的原因</span>
                         <div id="wrapper">
                            <div id="container">
                                <span id="localImag" style="height: 100px; width: 100px" hidden>
                                    <img id="preview" src="" width="100" height="100" style="display: block;" />
                                </span>
                                 <div class="uploader-list-container">
                                    <div class="queueList">
                                        <div id="dndArea" class="placeholder">
                                            <div id="filePicker-2"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress"> <span class="text">0%</span> <span class="percentage"></span></div>
                                        <div class="btns">
                                            <div id="filePicker2"></div>
                                            <div class="uploadBtn">开始上传</div>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </fieldset>
         </form>
      </div>
    </div>
     {% ifequal examination.questionNum question.questionNumber %}
        <div class="form-group" style="margin-top: 20px;">
            <button type="button" class="btn btn-raised btn-primary btn-block" id="btnSubmit"
                    onclick="submitExam(true)" style="padding-top:10px; padding-bottom:10px;">交卷
            </button>
        </div>
     {% else %}
        <div class="form-group" style="margin-top: 20px;">
            <button type="button" class="btn btn-raised btn-primary btn-block" id="btnSubmitNext"
                    onclick="submitExam(false)" style="padding-top:10px; padding-bottom:10px;">下一个
            </button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-raised btn-default btn-block" id="btnSubmitEarly"
                    onclick="submitExamEarly()" style="padding-top:10px; padding-bottom:10px;">交卷
            </button>
        </div>
     {% endifequal %}
     <div style="margin-bottom: 40px;">
        {% for id in list %}
            <button id='change{{forloop.counter}}' onclick="changeQuestion({{forloop.counter}});">{{forloop.counter}}</button>
        {% endfor %}
      </div>
</div>
<input type="hidden" id="userAnswer" value=""/>
<input type="hidden" id="userFailReason" value=""/>

{% include "common/footer.html"%}

<script src="/static/lib/webuploader/0.1.5/webuploader.js"></script>
<script src="/static/js/fileUpload.js"></script>
<script type="text/javascript">

    $('footer').hide();

    window.ruleid=parseInt($('#ruleid').val());
    $(function () {
        //确认提前交卷
        $('#modalSubBtn').click(function () {
            //提前交卷
            submitExamAuto()
        });

        {#$.ajax({#}
            {#type: 'POST',#}
            {#url: '{% url 'learningsystem:getdone' itemID %}',#}
            {#success: function (result) {#}
            {#    for (var id in result) {#}
            {#        $('#change' + id).css('color', 'red');#}

       //显示该检测项第一个条目的结果
        var userAnswer = $('#userAnswer').val();
        var userReason = $('#userReason').val();
        if(userAnswer != ''){
            if(userAnswer == 0||userAnswer == 1){
                $('#checkReason').slideDown();
                $('#reason').text(userReason);
            }else if(userAnswer == 2){
                $('#checkReason').slideUp();
            }
            $(":radio[name='radioCheckResult'][value='" + userAnswer + "']").prop("checked", "checked");
        }
      });

      //主iframe加载完成时将加载信息隐藏
    function mainIframeLoaded() {
        document.getElementById('loadingIframe').style.display = "none";
    }
       // 规则折叠
    $('#showRuleSpecific').change(function () {
        $('#ruleSpecific').slideToggle();
    });

    //答案切换时原因折叠
    var chooseCount=0; //答案切换次数
    $('#checkResult').change(function() {
        chooseCount=chooseCount+1;
        var checkResult = $('input:radio[name="radioCheckResult"]:checked').val();
        if(checkResult==0||checkResult==1) {
            $('#checkReason').slideDown();
            $('#reason').focus();
        } else{
            $('#checkReason').slideUp();
        }
    });

     var userReason;//实际不通过原因
      //常用通过/不通过原因处理
     $('#freqAns').change(function() {
        if($('#freqAns').get(0).selectedIndex == 0) {  //亲自写
            $('#reason').val('');
            $('#formFailAns').addClass('is-empty');
        } else{
            userReason=$('#freqAns option:selected').text();
            $('#reason').val($('#freqAns option:selected').text());
            $('#formFailAns').removeClass('is-empty');
        }
          $('#reason').focus();
    });

     //同一个页面检测点切换
     function changeFrom(ruleid){
           window.ruleid=ruleid;
           if((checkResult == 0||checkResult == 1)&&!$.trim($('#reason').val())) {
                showModal('错误提示', '请给出原因', '#reason');
           }else {
               var itemInfo = {};
               itemInfo["ruleID"] = ruleid;
               itemInfo["pageID"] = parseInt($("pageID").val());
               itemInfo["itemID"] = parseInt($("itemID").val());
               $.ajax({     //获取学习记录
                   type: 'POST',
                   data: itemInfo,
                   {#url: '{% url '' %}',#}
                   async: false,
                   success: function (result) {
                       $('#title').text(result.title); //检测规则
                       $('#description').text(result.description);
                       $('#checkMethod').text(result.checkMethod);
                       $('#passCondition').text(result.passCondition);
                       if (!result.user_result) {   //显示检测结果
                           $(":radio[name='radioCheckResult'][value='" + result.user_result + "']").prop("checked", "checked");
                           $('#userReason').text(result.userReason); //检测结果
                           $('#result').slideDown();
                       }
                   }
               });
           }
       }

     // 不同页面任务切换 返回考试任务相关信息
    function changeQuestion(id) {
        var url;
       {# url= '{% url '' examination.examinationId id %}'#}
        window.location.href = url;
    }

    // countdown
    var passTime = 0 // 页面停留时间，单位ms
    var totalTime = 7200000 // 考试总时长，单位ms，2小时
    var usedTime = new Date().getTime() - new Date("{{ examination.startTime }}}").getTime() // 已使用时长，从服务器获取，单位ms
    // 计算倒计时时间，参数单位均为ms
    function countdownFn() {
        var leftTime = totalTime - usedTime - passTime
//            console.log(leftTime)
        if (leftTime < 0) {
            showModal("友情提示", "时间已到，考试结束", "")
            $('#modalCommon').on('hidden.bs.modal', function () {
                // 自动交卷
                submitExamAuto()
            })
        } else {
            var hours = Math.floor(leftTime / 3600000)
            leftTime = leftTime % 3600000
            var minutes = Math.floor(leftTime / 60000)
            leftTime = leftTime % 60000
            var seconds = Math.round(leftTime / 1000)
            $("#countdown").html(numToStr(hours) + ":" + numToStr(minutes) + ":" + numToStr(seconds))
            passTime += 1000
            setTimeout("countdownFn()", 1000)
        }
    }
    countdownFn() // 触发倒计时
    function numToStr(num) {
        return num < 10 ? '0' + num : num
    }

    // 下一题/交卷/提前交卷
    function submitExam(isEnd) {
        var checkResult = $('input:radio[name="radioCheckResult"]:checked').val();
        if(checkResult == 0||checkResult == 1) {
            if(!$.trim($('#reason').val())){
                showModal('错误提示', '请给出原因', '#reason');
            }else{
                  //提交不通过结果&不通过原因
                submitNext(checkResult, $.trim($("#reason").val()), isEnd);
            }
        }else{
            //不存在结果
            submitNext(checkResult, "", isEnd);
        }
    }

    // 提前交卷
    function submitExamEarly() {
        showModalWithSubBtn("友情提示", "确定要开始提前交卷？", '确定', '');
    }

    // 自动交卷
    function submitExamAuto() {
        var checkResult = $('input:radio[name="radioCheckResult"]:checked').val();
        if (checkResult == 0||checkResult == 1) {
            if (!$.trim($("#reason").val())) {
                // 直接结束考试
                endExam();
            }else {
                // 提交不通过结果&不通过原因
                submitNext(checkResult, $.trim($("#reason").val()), true);
            }
        }else {
            //通过结果
            submitNext(checkResult, "", true);
        }
    }

    function submitNext(checkResult, reason, isEnd) {
        var checkResultInfo = {};
        var url = ""
        checkResultInfo["questionId"] = '{{question.questionId}}';
        checkResultInfo["userAnswer"] = checkResult;
        checkResultInfo["userFailReason"] = reason;
        if (isEnd) {
            {#url = '{% url 'exam:submitend' examination.examinationId %}';#}
        } else {
            {#url = '{% url 'exam:submit' %}';#}
        }
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(checkResultInfo),
            success: function (result) {
                if (result.resultStatus == "FAIL") {
                    showModal("错误提示", result.resultMsg, '');
                } else if (result.resultStatus == "SUCCESS") {
                    // 交卷/提前交卷
                    if (isEnd) {
                        {#window.location.href = '{% url 'exam:getresult' examination.examinationId %}';#}
                    } else {
                        // 下一题
                        {#window.location.href = "${AppContext}exam/${examination.examinationId}/${question.questionNumber+1}";#}
                    }
                }
            }
        });
    }

    // 直接结束考试
    function endExam() {
        $.ajax({
            type: 'POST',
            {#url: '{% url 'exam:end' examination.examinationId %}',#}
            success: function (result) {
                if (result.resultStatus == "FAIL") {
                    showModal("错误提示", result.resultMsg, '');
                } else if (result.resultStatus == "SUCCESS") {
                    {#window.location.href = '{% url 'exam:getresult' examination.examinationId %}';#}
                }
            }
        });
    }
</script>
</body>
</html>
