<!DOCTYPE html>
<html lang="en">
<head>
    <title>选择学习规则</title>
    {% include "common/head.html"%}
    <style type="text/css">
        .btn-correct {
            padding:0px 6px;
            margin:0;
        }

    </style>
</head>
<body>
{% include "common/navbar.html" %}
<div class="container">
    <div class="row well" style="margin-top:10%;">
        <div class="cus-center-container" style="margin-left:16px; margin-top: -47px; ">
            <a href="javascript:void(0)" class="btn btn-primary btn-fab hide-a-effect"><i class="material-icons" disable>bookmark</i><div class="ripple-container"></div></a>
            <a id="functionTitle" class="cus-center-content color-primary" style="padding-left: 16px; font-size: 28px;" href="">选择学习规则</a>
        </div>
        <div class="col-md-12">
            <div class="countdownTable">
                <table id="ruleTable" class="table table-striped table-hover results flexible-table ellipsis-table" style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th rowspan="2">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" id="checkall" name="checkall" checked/>
                                <span></span>
                            </label>
                        </th>
                        <th rowspan="4">原则</th>
                        <th rowspan="6">检测点</th>
                        <th rowspan="2">正确数</th>
                        <th rowspan="2">错误数</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for d in rule_list %}
                            <tr>
                                <td> <input type="checkbox" name="checkchild" id="rule{{d.rule_id}}" value="{{d.rule_id}}" onclick="chooseRule({{d.rule_id}})" checked /></td>
                                <td>{{ d.property }}</td>
                                <td>{{ d.title }}</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                         {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div style="width:100%;display:inline-block;">
            <a href="javascript:"  class="btn btn-primary btn-raised btn-lg btn-block" id="beginStudy">开始学习</a>
        </div>
    </div>
</div>

{% include "common/footer.html"%}

<script src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(function () {
       {#$('#ruleTable').DataTable();#}
       $('input[name="checkchild"]').each(function(){
             ruleIds.push(parseInt($(this).val()));
            });
     });

      window.ruleIds =new Array();
      $('input[name=checkall]').click(function(event) {   //复选框全选
        if(this.checked){
            $('input[name="checkchild"]').each(function(){
                if(ruleIds.indexOf(parseInt($(this).val()))==-1){
                    ruleIds.push(parseInt($(this).val()));
                }
                this.checked=true;
            });
        } else {
            $('input[name="checkchild"]').each(function(){this.checked=false;});
        }
        /*阻止向上冒泡，以防再次触发点击操作*/
        event.stopPropagation();
    });

     function chooseRule(ruleid){
        if($("#rule"+ruleid).is(':checked')) {
            $("#host" + ruleid).checked = true;
            ruleIds.push(ruleid);
        }else{
            /**单选框取消选中时将它的value移除隐藏域*/
            var index = ruleIds.indexOf(ruleid);
            ruleIds.splice(index, 1);
            $('#checkall').prop("checked",false);
        }
    };
    $('#beginStudy').click(function() {
         if(ruleIds.length==0) {
             alert("请选择规则！");
         }else {
             window.location='{% url 'learningsystem:study'%}';
         }
     });


</script>
</body>
</html>
