<!DOCTYPE html>
{% load ls_tags %}
{% csrf_token %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{host.hostName}}学习任务</title>
    {% include "common/head.html"%}
    <style type="text/css">
        /*change the default*/
        .navbar {
            margin-bottom: 0;
        }

        iframe {
            display: block;       /* iframes are inline by default */
            border: none;         /* Reset default border */
            height: 100vh;        /* Viewport-relative units */
            width: 100vw;
            /*background:transparent;*/
            /*考虑到响应式，标题栏的高度应该是变化的，不展开时是64px*/
            padding:0 0 64px 0 !important;
        }

        .form-group {
            margin-top: 0;
            padding-bottom: 0;
        }
        .form-control, .radio label {
            font-size: 14px !important;
        }
        .bg{
            border: solid red;
        }
    </style>
</head>
<body style="margin:0;padding:0;overflow:hidden;">
{% include "common/navbar.html"%}

<!-- 用iframe直接加载网页遇到的问题：
1.如https://www.zhihu.com/服务器返回头问题，无法正常显示
2.如http://www.w3school.com.cn/，原网页缩小后就没有横向滚动条，所以嵌入iframe后也没有横线滚动条
3.如http://www.runoob.com/，原网页为响应式，缩小后自适应，也没有横向滚动条
4.如http://www.weibo.com/自带蒙版，点击iframe自动跳回原网页
5.比较正常网页如https://www.baidu.com/，https://www.taobao.com/  -->
<div style="position: relative">
    <iframe style="position: absolute;left: 0;top: 0;" class="col-md-8 col-xs-7" id="loadingIframe" src="{% url 'learningsystem:loading_iframe' %}"></iframe>
    <iframe id='pageiframe' sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock" style="position: absolute;left: 0;top: 0;" src="{{ page.url }}" class="col-md-8 col-xs-7" onload="mainIframeLoaded()">
        您的浏览器不支持iframe，请更新您的浏览器（推荐使用chrome浏览器）
    </iframe>
</div>

<div class="col-md-4 col-xs-5" style="overflow: auto; position: absolute; right: 0; top: 64px; bottom: 10px;">
    <div style="margin-top: 20px;" class="text-center">
        <a href="{{ page.url }}" target="_blank">
            <h4>
                {% if page.title %}
                    {{ page.title }}
                {% else %}
                    该网页没有标题
                {% endif %}
            </h4>
        </a>
    </div>
    <hr style="background: #777; opacity:0.2;">
    <div style="display: inline-block">
        <div id='item'  style="width: 40%;float: left;">
            <ul class="nav nav-pills nav-stacked text-left" style="background: #cddfe8" >
                <li class="active text-primary text-center" ><strong>学习条目</strong></li>
                <hr style="background: #777; opacity:0.2;">
                {% for r in rule_list %}
                     <li><a href="javascript:;" onclick ="javascript:changeFrom({{r.rule_id}})" id="change{{ r.rule_id }}" >{{ r.title}}<i class="mdui-icon material-icons"  style="float: right ">&#xe5cc;</i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div id='record' style="width: 55%;float: right;" >
            <div>
                <input type="hidden" id="ruleid"  value="{{rule_list.0.rule_id}}" />
                <span class="text-primary">检测规则</span>
                <div  id="showRuleSpecific" class="togglebutton pull-right" style="display:inline-block;">
                    <label><input type="checkbox"></label>
                </div>
                <p style="margin-top: 5px;" class="text-muted" id="title">{{ rule_list.0.title }}</p>
            </div>
            <div id="ruleSpecific" hidden>
                <div>
                    <span class="text-primary">规则描述</span>
                    <p style="margin-top: 5px;" class="text-muted" id="description">{{rule_list.0.description}}</p>
                </div>
                <div style="margin-top: 10px;">
                    <span class="text-primary">检测方法</span>
                    <p style="margin-top: 5px;" class="text-muted" id="checkMethod">{{rule_list.0.check_method}}</p>
                </div>
                <div style="margin-top: 10px;">
                    <span class="text-primary">通过条件</span>
                    <p style="margin-top: 5px;" class="text-muted" id="passCondition">{{rule_list.0.pass_condition}}</p>
                </div>
            </div>
            <hr style="background: #777; opacity:0.2;">
            <div style="margin-bottom: 10px;" >
                <fieldset>
                    <div class="form-group" style="margin-top: 0;" id="checkResult">
                        <p class="control-label  text-primary">检测结果</p>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio" name="radioCheckResult" value="1">通过</label>
                        </div>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio"  name="radioCheckResult" value="0" checked>不通过</label>
                        </div>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio" name="radioCheckResult" value="3" >不知道</label>
                        </div>
                        <div class="radio" style="display: inline-block;">
                            <label style="padding-left: 35px;"><input type="radio"  name="radioCheckResult" value="2" >不存在</label>
                        </div>
                    </div>
                    <div id="checkReason" style="margin-bottom: 5px;" >
                        <div class="form-group" >
                            <label for="freqAns" class="control-label">常见原因示例</label>
                            <div>
                                <select id="freqAns" class="form-control" >
                                  <option>亲自写(自带清空技能)</option>
                                  {% if freq_ans %}
                                       {% for ans in freq_ans %}
                                            <option>{{ans}}</option>
                                       {% endfor %}
                                  {% endif %}
                                  {% if item and item.text_reason %}
                                       <option>{{item.text_reason}}</option>
                                  {% else %}
                                       <option>不存在</option>
                                  {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="formFailAns">
                            <label for="reason" class="control-label">通过/不通过原因</label>
                                <textarea class="form-control " rows="3" id="reason"></textarea>
                        </div>
                            <span class="help-block">请务必给出通过/不通过的原因</span>
                         <div id="wrapper">
                            <div id="container">
                                 <div class="uploader-list-container">
                                    <div class="queueList">
                                        <div id="dndArea" class="placeholder">
                                            <div id="filePicker-2"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
                                        <div class="btns">
                                            <div id="filePicker2"></div>
                                            <div class="uploadBtn">开始上传</div>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                             </div>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                        <button class="btn btn-raised btn-primary btn-block" id="btnSubmit" style="padding-top:10px; padding-bottom:10px;" >确定</button>
                  </div>
                </fieldset>
            </div>
           <div id="result" hidden>
                 <p class="text-primary">您的答案：<span class="text-muted" id="userResult"></span></p>
                 <p class="text-primary">您的理由：<span class="text-muted" id="userReason"></span></p>
                 <p class="text-primary">标准答案：<span class="text-muted" id="stdResult" ></span></p>
                 <p class="text-primary" >原因：<span class="text-muted" id="stdReason"></span>
                 </p>
           </div>
        </div>
    </div>
    <hr style="background: #777; opacity:0.2;">
     <div >
         <button type="button" class="btn btn-raised btn-primary btn-block" id="next" style="padding-top:10px; padding-bottom:10px;margin-top: 10px" >下一个</button>
     </div>
    <input type="hidden" id="pageID"  value="{{page.page_id}}" />
</div>

{% include "common/footer.html"%}
<script src="/static/lib/webuploader/0.1.5/webuploader.js"></script>
<script src="/static/js/fileUpload.js"></script>
<script type="text/javascript">
    window.ruleid=parseInt($('#ruleid').val());
    $('.footer').hide();
    (function( $ ){
        // 当domReady的时候开始初始化
        $(function() {
           window.currTime=new Date().toLocaleString('chinese',{hour12:false}); //截取时间
            var arg={
                "ruleID" : ruleid,
                "pageID":parseInt($("#pageID").val()),
            };
            uploadReady('{% url 'learningsystem:swfUpload' %}',arg);
        });
   })( jQuery );

    function mainIframeLoaded() {
      $('#loadingIframe').css('display','none');
    }

    // 规则折叠
    $('#showRuleSpecific').change(function() {
        $('#ruleSpecific').slideToggle();
    });

     //答案切换时原因折叠
    var chooseCount=0; //答案切换次数
    $('#checkResult').change(function() {
        chooseCount=chooseCount+1;
        var checkResult = $('input:radio[name="radioCheckResult"]:checked').val();
        if(checkResult==0||checkResult==1) {
            $('#checkReason').slideDown();
            $('#reason').focus();
        } else{
            $('#checkReason').slideUp();
        }
    });

      //常用通过/不通过原因处理
     $('#freqAns').change(function() {
        if($('#freqAns').get(0).selectedIndex == 0) {  //亲自写
            $('#reason').val('');
            $('#formFailAns').addClass('is-empty');
        } else{
            $('#reason').val($('#freqAns option:selected').text());
            $('#formFailAns').removeClass('is-empty');
        }
          $('#reason').focus();
    });

    $('#btnSubmit').click(function() {
        var userReason= $.trim($('#reason').val());
        var checkResultInfo = {};
        var userResult = parseInt($('input:radio[name="radioCheckResult"]:checked').val());
        if((userResult == 0||userResult == 1)&&!$.trim($('#reason').val())) {
                showModal('错误提示', '请给出原因', '#reason');
        }else {
            checkResultInfo = {
                "ruleID" : ruleid,
                "userResult":userResult,
                "userReason":userReason,
                "chooseCount":chooseCount,
                "pageID":parseInt($("#pageID").val()),
                "start_time": currTime
            }
            showResult(userResult,"userResult");
            showReason($.trim($('#reason').val()),"userReason");
            $('#change'+ruleid).css('color', 'red');
            $('#btnSubmit').attr('disabled', 'true');
            $('#result').slideDown();
            $.ajax({ //表单提交
                type: 'POST',
                dataType:'json',
                data:  JSON.stringify(checkResultInfo),
                url: '{% url "learningsystem:submit_learn" %}',
                async:false,
                success:function (result) {
                    if (result["resultStatus"] == "SUCCESS") {
                      $('#stdReason').text(result['stdReason']);
                      showResult(result['std_result'],"stdResult");
                    }
                }
            });
        }
    });

     function changeFrom(ruleid){
           window.ruleid=ruleid;
           var itemInfo={
              "ruleID":ruleid,
              "pageID":parseInt($("#pageID").val())
           };
           $.ajax({     //获取学习记录
                type: 'POST',
                dataType:'json',
                data:JSON.stringify(itemInfo),
                url: '{% url 'learningsystem:change_item' %}',
                async:false,
                success:function (result) {
                    rule = JSON.parse(result.rule);
                    record = JSON.parse(result.record);
                    freq_ans = result.freq_ans;
                    item = JSON.parse(result.item);
                    $('#title').text(rule[0].fields.title); //检测规则
                    $('#description').text(rule[0].fields.description);
                    $('#checkMethod').text(rule[0].fields.check_method);
                    $('#passCondition').text(rule[0].fields.pass_condition);
                    $("#freqAns").empty();                                           //常见原因
                    $("#freqAns").append("<option>亲自写(自带清空技能)</option>");
                    for (var i=0;i<freq_ans.length;i++) {
                        $("#freqAns").append("<option>"+freq_ans[i]+"</option>");
                    }
                    console.log(item);
                    if(item!=''&& item[0].fields.text_reason!=null){
                        $("#freqAns").append("<option>"+item[0].fields.text_reason +"</option>");
                    }else{
                        $("#freqAns").append("<option>不存在</option>");
                    }
                    if(record!='') {  //显示记录结果
                        $('#checkReason').slideUp();
                        $('#btnSubmit').attr('disabled', 'true');
                        $('#result').slideDown();
                        showReason(record[0].fields.reason,'userReason');
                        if(item!=''){
                            showReason(item[0].fields.text_reason,'stdReason');
                        }else{
                             $('#stdReason').val('暂无原因');
                        }
                        showReason(item[0].fields.text_reason,'stdReason');
                        showResult(record[0].fields.user_result,'userResult');
                        showResult(record[0].fields.std_result,'stdResult');
                    }else {
                        $('#reason').val("");
                        $('#result').slideUp();
                        $('#checkReason').slideDown();
                        $('#btnSubmit').prop('disabled', false);
                        $(":radio[name='radioCheckResult'][value='0']").prop("checked", "checked");
                        $('#freqAns').get(0).selectedIndex = 0;
                        closeUploader();
                    }
                }
            });
       }

       //跳转到下个学习页面
        $('#next').click(function() {
           window.location="{% url 'learningsystem:study' %}";
        })

</script>
</body>
</html>